<!doctype html>
<html>
  <head>
    <title>Pig with Socket.io</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <style>
      html, body {
        height: 100%;
      }
      #server-broadcast { list-style-type: none; margin: 0; padding: 0; }
      #server-broadcast li { padding: 5px 10px; }
      #server-broadcast li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
  <header class="navbar navbar-static-top navbar-inverse bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">⚀ Pig with Socket.io</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#" id="username"><%= (user && user['name']) ? user.name : "User Name" %></a>
          </li>
          <li>
            <a href="#" id="roomname">Room Name
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://expo.getbootstrap.com" id="status">Server Status</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <div class="container" style="height: 80%">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 well" id="login">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Name" id="name" name="name" autofocus>
            <span class="input-group-btn">
              <button id="loginbtn" class="btn btn-default" type="button">Log In</button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="row" style="height: 100%">
        <div class="col-md-8"></div>
        <div class="col-md-4 well" style="height: 100%; display: none;" id="chat">
          <div style="height: 90%;">
            <ul id="server-broadcast" style="overflow-y:scroll; position: absolute; left: 0; right: 0; top: 0; bottom: 50px;">
            </ul>
          </div>
          <form class="form-inline" action="">
            <input class="form-control" id="message" autocomplete="off" placeholder="Enter a message..." /> 
            <button id="send_message" type="button" class="btn">Send</button>
          </form>
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var user = <%- user ? JSON.stringify(user) : null %>;
      var socket = io.connect(':'+<%= port %>);
      //disable things if theres no connection
      //make play vs ai happen offline
      function addMessage(d){
        var scrolldown = false
        var scrollTop = $("#server-broadcast").scrollTop()+$("#server-broadcast").height()
        var scrollHeight = $("#server-broadcast")[0].scrollHeight
        console.log("scrollTop:", scrollTop)
        console.log("scrollHeight:", scrollHeight)
        if(scrollHeight - scrollTop < 2){
          scrolldown = true
        }
        $('#server-broadcast').append("<li>"+d+"</li>")
        if(scrolldown){
          $("#server-broadcast").scrollTop($("#server-broadcast")[0].scrollHeight);        
        }
      }
      socket.on('news', function (data) {
        console.log(data);
        addMessage("<li>"+data.toString()+"</li>")
        socket.emit('my other event', { my: 'data' });
      });
      socket.on('message', function(d){
        console.log(d)
        addMessage("<li>"+d+"</li>")
      })
      socket.on('status', function(d){
        console.log(d)
        $('#status').text(d)
      })
      socket.on('good_log_in', function (nuser){
        console.log('good log in', nuser)
        user = nuser
        $('#username').text(nuser['name'])
        $('#login').hide()
        $('#chat').show()
      })
      socket.on('roomname', function (roomname) {
        $('#roomname').text(roomname)
      })

      $('#loginbtn').click(function(){
        var new_name = $('#name').val()
        socket.emit('log_in', {name: new_name})
      })

      $('#send_message').click(function(){
        socket.emit('send_message', {user: user, message: $('#message').val()})
      })

    </script>
  </body>
</html>
