<!doctype html>
<html>
  <head>
    <title>Pig with Socket.io</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <style>
      html, body {
        height: 100%;
      }
      #server-broadcast { list-style-type: none; margin: 0; padding: 0; }
      #server-broadcast li { padding: 5px 10px; }
      #server-broadcast li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
  <header class="navbar navbar-static-top navbar-inverse bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">⚀ Pig with Socket.io</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#" id="username"><%= (user && user['name']) ? user.name : "User Name" %></a>
          </li>
          <li>
            <a href="#" id="roomname">Room Name
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://expo.getbootstrap.com" id="status">Server Status</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <div class="container" style="height: 80%">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 well" id="login">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Name" id="name" name="name" autofocus>
            <span class="input-group-btn">
              <button id="loginbtn" class="btn btn-default" type="button">Log In</button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="row" style="height: 100%">
        <div class="col-md-8">
          <div id="main">
          </div>
        </div>
        <div class="col-md-4 well" style="height: 100%; display: none;" id="chat">
          <div style="height: 90%;">
            <ul id="server-broadcast" style="overflow-y:scroll; position: absolute; left: 0; right: 0; top: 0; bottom: 50px;">
            </ul>
          </div>
          <div class="form-inline" action="">
            <input class="form-control" id="message" autocomplete="off" placeholder="Enter a message..." /> 
            <button id="send_message" type="button" class="btn">Send</button>
          </div>
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var user = <%- user ? JSON.stringify(user) : null %>;
      var socket = io.connect(':'+<%= port %>);
      //disable things if theres no connection
      //make play vs ai happen offline
      function addMessage(d){
        var scrolldown = false
        var scrollTop = $("#server-broadcast").scrollTop()+$("#server-broadcast").height()
        var scrollHeight = $("#server-broadcast")[0].scrollHeight
        // console.log("scrollTop:", scrollTop)
        // console.log("scrollHeight:", scrollHeight)
        if(scrollHeight - scrollTop < 2){
          scrolldown = true
        }
        $('#server-broadcast').append("<li>"+d+"</li>")
        if(scrolldown){
          $("#server-broadcast").scrollTop($("#server-broadcast")[0].scrollHeight);        
        }
      }
      socket.on('news', function (data) {
        console.log(data);
        addMessage(data.toString())
        socket.emit('my other event', { my: 'data' });
      });
      socket.on('server_broadcast', function(d){
        console.log(d)
        addMessage("Game Server: "+d)        
      })
      socket.on('message', function(d){
        console.log(d)
        addMessage(d['user']['name']+': '+d['message'])
      })
      socket.on('status', function(d){
        console.log(d)
        $('#status').text(d)
      })
      socket.on('good_log_in', function (nuser){
        console.log('good log in', nuser)
        user = nuser
        $('#username').text(nuser['name'])
        $('#login').hide()
        $('#chat').show()
      })
      socket.on('roomname', function (roomname) {
        $('#roomname').text(roomname)
      })

      socket.on('matchmaking_list', function (list){
        $('#main').html('<ul id="mmlist"></ul>')
        list.forEach(function (i){
          $('#mmlist').append('<li>'+i['name']+'</li>')
        })
      })

      socket.on('create_game', function (g){
        // TODO
        console.log('create_game', g)

        var score_template = '<table class="table table-bordered"><thead>'+
          '<tr><td class="'+g['player1'].id+'"><span class="name">'+
          g['player1']['name']+
          '</span><span class="score"></span></td>'+
          '<td class="'+g['player2'].id+'"><span class="name" >'+
          g['player2']['name']+
          '</span><span class="score"></span></td>'+
          '</tr></thead><tbody class="turns"></tbody>'+
          '</table>'
        var main_template = '<div class="game" id="'+
          g.id+'"><div class="gameinfo">'+score_template+
          '</div><div class="gameactions"></div></div>'
        if($('#games').length == 0){
          $('#main').html('<div id="games"></div>')
        }
        $('#games').append(main_template)
      })

      socket.on('start_turn', function (game){
        // TODO
        addMessage('start_turn: '+game.active_player.name)
        if(game.active_player.id == user.id){
          // our turn
          // show actions
          $('#'+game.id+' > .gameactions').html('<button class="btn rollbtn">Roll</button> <button class="btn holdbtn">Hold</button>')
        }else if($('#'+game.id+' > .gameactions').length > 0){
          $('#'+game.id+' > .gameactions').hide()
          // opponent turn
          // show "waiting for opponent"
        }
        $('#'+game.id+' > .turns').last().append("<tr class='turn'><td class='"+game.player1.id+"s-turn'></td><td class='"+game.player2.id+"s-turn'></td></tr>")
        console.log('start_turn', game.active_player)
      })
      socket.on('roll_result', function (game){
        // TODO
        addMessage("roll_result: "+JSON.stringify(game.last_roll))
        console.log('roll_result', game.last_roll)
        var td = $('#'+game.id+" > ."+game.active_player.id+"s-turn").last()
        td.append("["+game.last_roll.first+", "+game.last_roll.second+"]")
        
      })
      socket.on('hold_result', function (game){
        var total = game.last_total
        addMessage("hold_result: "+total)
        console.log('hold_result', total)
        // TODO
        // add to score total for this player?
        var overallscore = game.totals[active_player.id]
        var td = $('#'+game.id+" > ."+game.active_player.id+"s-turn").last().append("= "+total)
        $('#'+game.id+" > ."+game.active_player.id+" > score").text(overallscore)

      })

      socket.on('game_end', function (game){
        var msg = 'Game Over! '+game.winner.name+" Wins!"
        $('#'+game.id).append(msg)

        addMessage(msg)
        console.log('game_end', game)
      })

      function login_button () {
        console.log('logging in')
        var new_name = $('#name').val()
        socket.emit('log_in', {name: new_name})
      }
      $('#loginbtn').click(function(){login_button()})
      $('#name').keyup(function(e){
        if(e.keyCode == 13){
          login_button()
        }
      });

      $('.rollbtn').click(function(){
        var game_id = $(this).nearest('.game').attr('id')
        socket.emit('roll', game_id)
      })

      $('.holdbtn').click(function(){
        var game_id = $(this).nearest('.game').attr('id')
        socket.emit('hold', game_id)
      })

      function send_message_button () {
        var msg = {user: user, message: $('#message').val(), roomname: $('#roomname').text()}
        // console.log('sending a message', msg)
        socket.emit('send_message', msg)
        $('#message').val('')
      }
      $('#send_message').click(function(){send_message_button()})
      $('#message').keyup(function(e){
        if(e.keyCode == 13){
          send_message_button()
        }
      });

    </script>
  </body>
</html>
